<h2 class="ml"> <button routerLink="/clientes" class="btn btn-primary mr">
    <i class="fa fa-arrow-left"></i>
  </button> {{edit ? 'Editar Cliente' : 'Alta Cliente'}}</h2>
<form #clienteForm="ngForm" [formGroup]="addCliente" novalidate (ngSubmit)="onSubmit()">
  <hr />
  <div class="form-row">
    <div class="form-group col-md-8">
      <label for="nombre">Nombre</label>
      <input name="nombre" formControlName="nombre" type="text" class="form-control" id="nombre" placeholder="Nombre" />
      <p *ngIf="submitted && addCliente.controls['nombre'].errors?.required" class="alert alert-danger opacity"
        role="alert">nombre no puede estar vacio</p>
    </div>
    <div class="form-group col-md-4">
      <label for="RFC">RFC</label>
      <input name="RFC" formControlName="RFC" type="text" class="form-control" id="RFC" placeholder="RFC" />
    </div>
    <div class="form-group col-md-4">
      <label for="contacto">Contacto Principal</label>
      <input name="contacto" formControlName="contacto" type="text" class="form-control" id="contacto"
        placeholder="Contacto" />
    </div>
    <div class="form-group col-md-4">
      <label for="email">Email</label>
      <input name="email" formControlName="email" type="email" class="form-control" id="email" placeholder="Email" />
    </div>
    <div class="form-group col-md-4">
      <label for="telefono">Teléfono</label>
      <input name="telefono" formControlName="telefono" type="telefono" class="form-control" id="telefono"
        placeholder="Teléfono" />
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="estado">País</label>
      <select id="pais" formControlName="pais" class="form-control" name="pais">
        <option selected value="">Elige...</option>
        <option value="México">México</option>
        <option value="USA">USA</option>
        <option value="Canada">Canada</option>
        <option value="Japon">Japón</option>
      </select>
    </div>
    <div class="form-group col-md-6">
      <label for="estado">{{ addCliente.controls['pais'].value === 'Japon' ? 'Prefectura' : 'Estado'}}</label>
      <select formControlName="estado" *ngIf="addCliente.controls['pais'].value === ''" id="estado" class="form-control" name="estado">
        <option selected value="">Elige Un Pais...</option>
      </select>
      <select formControlName="estado" *ngIf="addCliente.controls['pais'].value === 'México'" id="estado" class="form-control"
        name="estado">
        <option selected value="">Elige...</option>
        <option *ngFor="let state of estadosMexico" [value]="state">{{ state }}</option>
      </select>
      <select formControlName="estado" *ngIf="addCliente.controls['pais'].value === 'USA'" id="estado" class="form-control"
        name="estado">
        <option selected value="">Elige...</option>
        <option *ngFor="let state of estadosUsa" [value]="state">{{ state }}</option>
      </select>
      <select formControlName="estado" *ngIf="addCliente.controls['pais'].value === 'Canada'" id="estado" class="form-control"
        name="estado">
        <option selected value="">Elige...</option>
        <option *ngFor="let state of estadosCanada" [value]="state">{{ state }}</option>
      </select>
      <select formControlName="estado" *ngIf="addCliente.controls['pais'].value === 'Japon'" id="estado" class="form-control"
        name="estado">
        <option selected value="">Elige...</option>
        <option *ngFor="let state of estadosJapon" [value]="state">{{ state }}</option>
      </select>
    </div>
    <div class="form-group col-md-4">
      <label for="ciudad">Ciudad</label>
      <input name="ciudad" formControlName="ciudad" type="text" class="form-control" id="ciudad" placeholder="Ciudad" />
    </div>
    <div class="form-group col-md-8">
      <label for="direccion">Dirección</label>
      <textarea name="direccion" formControlName="direccion" type="text" class="form-control" id="direccion"
        placeholder="1234 Main St"></textarea>
    </div>
    <div class="form-group col-md-2">
      <label for="CP">CP</label>
      <input type="text" formControlName="CP" class="form-control" id="CP" name="CP" />
    </div>
    <div class="form-group col-md-5">
      <label for="diasCredito">Días de Crédito</label>
      <input name="diasCredito" formControlName="diasCredito" type="text" class="form-control" id="diasCredito"
        placeholder="0" />
    </div>
    <div class="form-group col-md-5">
      <label for="limiteCredito">Límite de Crédito</label>
      <input name="limiteCredito" formControlName="limiteCredito" type="text" class="form-control" id="limiteCredito"
        placeholder="0" />
    </div>
  </div>
  <button (click)="toggle($event)" type="button" class="btn btn-warning mb">
    <i class="fa" [ngClass]="{
      'fa-arrow-up': show === true,
      'fa-arrow-down': show === false
    }"></i> Agregar Datos Bancarios
  </button>
  <span class="ml grey fontSize16">(opcional)</span>
  <br />

  <ng-container *ngIf="show">
    <h3>Datos Bancarios</h3>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="nombre">Nombre Banco</label>
        <input type="text" class="form-control" id="nombre" placeholder="Nombre" />
      </div>
      <div class="form-group col-md-6">
        <label for="email">Número de Cuenta</label>
        <input type="email" class="form-control" id="email" placeholder="Email" />
      </div>
      <div class="form-group col-md-4">
        <label for="telefono">CLABE</label>
        <input type="telefono" class="form-control" id="telefono" placeholder="Teléfono" />
      </div>
      <div class="form-group col-md-4">
        <label for="telefono">ABA</label>
        <input type="telefono" class="form-control" id="telefono" placeholder="Teléfono" />
      </div>
      <div class="form-group col-md-4">
        <label for="telefono">SWIFT</label>
        <input type="telefono" class="form-control" id="telefono" placeholder="Teléfono" />
      </div>
      <div class="form-group col-md-4">
        <label for="direccion">Dirección</label>
        <input type="text" class="form-control" id="direccion" placeholder="1234 Main St" />
      </div>
      <div class="form-group col-md-4">
        <label for="direccion">Ciudad</label>
        <input type="text" class="form-control" id="direccion" placeholder="1234 Main St" />
      </div>
      <div class="form-group col-md-4">
        <label for="direccion">Estado</label>
        <input type="text" class="form-control" id="direccion" placeholder="1234 Main St" />
      </div>
    </div>
  </ng-container>
  <button type="submit" class="btn btn-success">
    Guardar
  </button>
</form>