<hr />
<h3><button [routerLink]="['/cargas']" class="btn btn-primary"><i class="fa fa-arrow-left"></i></button> Datos de la Carga</h3>
<hr />
<div class="view-flex">
  <p class="titulo">Proveedor:</p>
  <p class="ml">{{ provedor }}</p>
</div>
<div class="view-flex">
  <p class="titulo">PO:</p>
  <p class="ml">{{ orden }}</p>
</div>
<div class="view-flex">
  <p class="titulo">Peso:</p>
  <p class="ml">{{ carga?.peso }}</p>
</div>
<div class="view-flex">
  <p class="titulo">Numero de Cajas:</p>
  <p class="ml">{{ carga?.numCajas }}</p>
</div>
<div class="view-flex">
  <p class="titulo">Numero de Pallets:</p>
  <p class="ml">{{ carga?.numPallets }}</p>
</div>
<div class="view-flex">
  <p class="titulo">Temperatura</p>
  <p class="ml">{{ carga?.temperatura }}</p>
</div>
<div class="view-flex">
  <p class="titulo">Fecha Descarga:</p>
  <p class="ml">{{ carga?.fechaDescarga }}</p>
</div>
<div class="view-flex">
  <p class="titulo">Precio Cliente:</p>
  <p class="ml">{{ carga?.precioCliente }}</p>
</div>
<div class="view-flex">
  <p class="titulo">Costo Proveedor:</p>
  <p class="ml">{{ carga?.costoProveedor }}</p>
</div>
<div class="view-flex">
  <p class="titulo">Estatus Carga:</p>
  <p class="ml">{{ carga?.estatusCarga }}</p>
</div>
<div class="view-flex">
  <p class="titulo">Estatus Pago Cliente:</p>
  <p class="ml">{{ carga?.estatusPago }}</p>
</div>
<div class="view-flex">
  <p class="titulo">Estatus Pago Proveedor:</p>
  <p class="ml">{{ carga?.estatusPagoProveedor }}</p>
</div>
<div class="view-flex">
  <p class="titulo">Comision Broker:</p>
  <p class="ml">{{ carga?.comisionBroker }}</p>
</div>
<div class="view-flex">
  <p class="titulo">Metodo Pago:</p>
  <p class="ml">{{ carga?.metodoPago }}</p>
</div>
<div class="view-flex">
  <p class="titulo">Agencia Aduanal:</p>
  <p class="ml">{{ agencia }}</p>
</div>
<div class="view-flex">
  <p class="titulo">Placas Tractor:</p>
  <p class="ml">{{ carga?.placasTractor }}</p>
</div>
<div class="view-flex">
  <p class="titulo">Eco Tractor:</p>
  <p class="ml">{{ carga?.ecoTractor }}</p>
</div>
<div class="view-flex">
  <p class="titulo">Codigo Alpha:</p>
  <p class="ml">{{ carga?.codigoAlpha }}</p>
</div>
<div class="view-flex">
  <p class="titulo">Caat:</p>
  <p class="ml">{{ carga?.caat }}</p>
</div>
<div class="view-flex">
  <p class="titulo">Eco Thermo:</p>
  <p class="ml">{{ carga?.ecoThermo }}</p>
</div>
<div class="view-flex">
  <p class="titulo">Placas:</p>
  <p class="ml">{{ carga?.placas }}</p>
</div>
<div class="view-flex">
  <p class="titulo">Pies:</p>
  <p class="ml">{{ carga?.pies }}</p>
</div>
<div class="view-flex">
  <p class="titulo">Nombre Operador:</p>
  <p class="ml">{{ carga?.nombreOperador }}</p>
</div>
<div class="view-flex">
  <p class="titulo">Numero Operador:</p>
  <p class="ml">{{ carga?.numOperador }}</p>
</div>