<hr />
<h3><button [routerLink]="['/clientes']" class="btn btn-primary"><i class="fa fa-arrow-left"></i></button> Datos del
  Cliente</h3>
<hr />
<div class="view-flex">
  <p class="titulo">Nombre:</p>
  <p class="ml">{{ cliente.nombre }}</p>
</div>
<div class="view-flex">
  <p class="titulo">RFC:</p>
  <p class="ml">{{ cliente.RFC }}</p>
</div>
<div class="view-flex">
  <p class="titulo">Contacto Principal:</p>
  <p class="ml">{{ cliente.contacto }}</p>
</div>
<div class="view-flex">
  <p class="titulo">Email:</p>
  <p class="ml">{{ cliente.email }}</p>
</div>
<div class="view-flex">
  <p class="titulo">Telefono:</p>
  <p class="ml">{{ cliente.telefono | lada: cliente.pais}}</p>
</div>
<div class="view-flex">
  <p class="titulo">Direccion:</p>
  <p class="ml">{{ cliente.direccion }}</p>
</div>
<div class="view-flex">
  <p class="titulo">Ciudad:</p>
  <p class="ml">{{ cliente.ciudad }}</p>
</div>
<div class="view-flex">
  <p class="titulo">Estado:</p>
  <p class="ml">{{ cliente.estado }}</p>
</div>
<div class="view-flex">
  <p class="titulo">País:</p>
  <p class="ml">{{ cliente.pais }}</p>
</div>
<div class="view-flex">
  <p class="titulo">Días de Credito:</p>
  <p class="ml">{{ cliente.diasCredito }}</p>
</div>
<div class="view-flex">
  <p class="titulo">Limite de Credito:</p>
  <p class="ml">{{ cliente.limiteCredito | currency }}</p>
</div>