<hr />
<h3 [routerLink]="['/clientes']">Datos del Cliente</h3>
<hr />
<h4 class="titulo">Nombre:</h4>
<h4>{{ cliente.nombre }}</h4>
<h4 class="titulo">RFC:</h4>
<h4>{{ cliente.RFC }}</h4>
<h4 class="titulo">Contacto Principal:</h4>
<h4>{{ cliente.contacto }}</h4>
<h4 class="titulo">Email:</h4>
<h4>{{ cliente.email }}</h4>
<h4 class="titulo">Telefono:</h4>
<h4>{{ cliente.telefono }}</h4>
<h4 class="titulo">Direccion:</h4>
<h4>{{ cliente.direccion }}</h4>
<h4 class="titulo">Ciudad:</h4>
<h4>{{ cliente.ciudad }}</h4>
<h4 class="titulo">Estado:</h4>
<h4>{{ cliente.estado }}</h4>
<h4 class="titulo">País:</h4>
<h4>{{ cliente.pais }}</h4>
<h4 class="titulo">Días de Credito:</h4>
<h4>{{ cliente.diasCredito }}</h4>
<h4 class="titulo">Limite de Credito:</h4>
<h4>{{ cliente.limiteCredito }}</h4>
