<h2 class="ml"> <button routerLink="/rutas" class="btn btn-primary mr pointer">
    <i class="fa fa-arrow-left"></i>
  </button>{{edit ? 'Editar Ruta' : 'Agregar Nueva Ruta'}}</h2>
<form #rutaForm="ngForm" [formGroup]="addRuta" (ngSubmit)="onSubmit()">
  <hr />
  <div class="form-row">
    <div class="form-group col-md-4">
      <label for="nombre">Nombre</label>
      <input name="nombre" [attr.disabled]="edit ? '' : null" formControlName="nombre" type="text" class="form-control" id="nombre" placeholder="Nombre" />
      <p *ngIf="submitted && addRuta.controls['nombre'].errors?.required" class="error" role="alert">Nombre no puede
          estar vacio</p>
    </div>
    <div class="form-group col-md-4">
      <label for="paisOrigen">País Origen</label>
      <select name="paisOrigen" formControlName="paisOrigen" id="paisOrigen" class="form-control" name="paisOrigen">
        <option selected value="">Seleccionar Pais Origen...</option>
        <option value="Mexico">México</option>
        <option value="USA"> USA</option>
        <option value="Japon">Japón</option>
        <option value="Canada"> Canada</option>
      </select>
      <p *ngIf="submitted && addRuta.controls['paisOrigen'].errors?.required" class="error" role="alert">Pais Origen no puede estar vacio</p>
    </div>
    <div class="form-group col-md-4">
      <label for="cdOrigen">Ciudad Origen</label>
      <input name="cdOrigen" formControlName="cdOrigen" type="text" class="form-control" id="cdOrigen"
        placeholder="Ciudad Origen" />
        <p *ngIf="submitted && addRuta.controls['cdOrigen'].errors?.required" class="error" role="alert">Ciudad Origen no puede
            estar vacio</p>
    </div>
    <div class="form-group col-md-4">
      <label for="edoOrigen">Estado Origen</label>
      <select *ngIf="addRuta.controls['paisOrigen'].value === ''" name="edoOrigen" id="edoOrigen"
        class="form-control" name="edoOrigen" formControlName="edoOrigen">
        <option selected value="">Elige un pais...</option>
      </select>
      <select formControlName="edoOrigen" *ngIf="addRuta.controls['paisOrigen'].value === 'Mexico'" id="edoOrigen"
        class="form-control" name="edoOrigen">
        <option selected value="">Elige...</option>
        <option *ngFor="let state of estadosMexico" [value]="state">{{ state }}</option>
      </select>
      <select formControlName="edoOrigen" *ngIf="addRuta.controls['paisOrigen'].value === 'USA'" id="edoOrigen"
        class="form-control" name="edoOrigen">
        <option selected value="">Elige...</option>
        <option *ngFor="let state of estadosUsa" [value]="state">{{ state }}</option>
      </select>
      <select formControlName="edoOrigen" *ngIf="addRuta.controls['paisOrigen'].value === 'Canada'" id="edoOrigen"
        class="form-control" name="edoOrigen">
        <option selected value="">Elige...</option>
        <option *ngFor="let state of estadosCanada" [value]="state">{{ state }}</option>
      </select>
      <select formControlName="edoOrigen" *ngIf="addRuta.controls['paisOrigen'].value === 'Japon'" id="edoOrigen"
        class="form-control" name="edoOrigen">
        <option selected value="">Elige...</option>
        <option *ngFor="let state of estadosJapon" [value]="state">{{ state }}</option>
      </select>
      <p *ngIf="submitted && addRuta.controls['edoOrigen'].errors?.required" class="error"
        role="alert">Estado de origen no puede estar vacio</p>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-4">
      <label for="paisDestino">País Destino</label>
      <select name="paisDestino" id="paisDestino" class="form-control" name="paisDestino"
        formControlName="paisDestino">
        <option value="" selected>Seleccionar Pais Destino</option>
        <option value="Mexico">México</option>
        <option value="USA"> USA</option>
        <option value="Japon">Japón</option>
        <option value="Canada"> Canada</option>
      </select>
      <p *ngIf="submitted && addRuta.controls['paisDestino'].errors?.required" class="error" role="alert">Pais Destino no puede
          estar vacio</p>
    </div>
    <div class="form-group col-md-4">
      <label for="edoDestino">Estado Destino</label>
      <select *ngIf="addRuta.controls['paisDestino'].value === ''" name="edoDestino" id="edoDestino"
        class="form-control" name="edoDestino" formControlName="edoDestino">
        <option selected value="">Elige un pais Destino...</option>
      </select>
      <select formControlName="edoDestino" *ngIf="addRuta.controls['paisDestino'].value === 'Mexico'" id="edoDestino"
        class="form-control" name="edoDestino">
        <option selected value="">Elige...</option>
        <option *ngFor="let state of estadosMexico" [value]="state">{{ state }}</option>
      </select>
      <select formControlName="edoDestino" *ngIf="addRuta.controls['paisDestino'].value === 'USA'" id="edoDestino"
        class="form-control" name="edoDestino">
        <option selected value="">Elige...</option>
        <option *ngFor="let state of estadosUsa" [value]="state">{{ state }}</option>
      </select>
      <select formControlName="edoDestino" *ngIf="addRuta.controls['paisDestino'].value === 'Canada'" id="edoDestino"
        class="form-control" name="edoDestino">
        <option selected value="">Elige...</option>
        <option *ngFor="let state of estadosCanada" [value]="state">{{ state }}</option>
      </select>
      <select formControlName="edoDestino" *ngIf="addRuta.controls['paisDestino'].value === 'Japon'" id="edoDestino"
        class="form-control" name="edoDestino">
        <option selected value="">Elige...</option>
        <option *ngFor="let state of estadosJapon" [value]="state">{{ state }}</option>
      </select>
      <p *ngIf="submitted && addRuta.controls['edoDestino'].errors?.required" class="error"
        role="alert">Estado de Destino no puede estar vacio</p>
    </div>
    <div class="form-group col-md-4">
      <label for="cdDestino">Ciudad Destino</label>
      <input name="cdDestino" formControlName="cdDestino" type="text" class="form-control" id="cdDestino"
        placeholder="Ciudad Destino" />
        <p *ngIf="submitted && addRuta.controls['cdDestino'].errors?.required" class="error" role="alert">Ciudad Destino no puede
            estar vacio</p>
    </div>
    <div class="form-group col-md-8">
      <label for="CP">CP Destino</label>
      <input name="CPDestino" formControlName="CPDestino" type="text" class="form-control width-35" id="CPDestino"
        placeholder="CP Destino" />
        <p *ngIf="submitted && addRuta.controls['CPDestino'].errors?.required" class="error" role="alert">Codigo Postal no puede
            estar vacio</p>
    </div>
  </div>
  <div class="col-md-12">
    <button type="submit" class="btn btn-success pointer">
      {{ edit ? 'Editar Ruta' : 'Guardar Ruta'}}
    </button>
  </div>
</form>