/* You can add global styles to this file, and also import other style files */
.mb {
    margin-bottom: 1rem;
}

.ml {
    margin-left: 1rem;
}

.mr {
    margin-right: 1rem;
}

.mt {
    margin-top: 1rem;
}

.flex {
    display: flex;
}

.grey {
    color: grey;
}

.fontSize16 {
    font-size: 16px;
}

.error {
    color: darkred;
    
    text-decoration: underline;
}
.error::before {
    content: '*';
}
.pointer {
    cursor: pointer;
}

.titulo{
    font-weight: bold;
}

.view-flex {
    display: flex;
}

.row-padding {
    padding: 0 15px;
}

.p0 {
    padding: 0;
}

@media screen and (max-width: 768px) {
    .navbar.navbar-static-top {
        display: flex;
        justify-content: center;
    }
    .navbar-custom-menu {
        display: none;
    }
}