<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    <!-- Sidebar user panel (optional) -->

    <!-- search form (Optional) -->
    <!-- /.search form -->

    <!-- Sidebar Menu -->
    <ul class="sidebar-menu" data-widget="tree">
      <li class="header">MENÚ</li>
      <!-- Optionally, you can add icons to the links -->
      <li class="treeview">
        <a href="#"
          ><i class="fa fa-users"></i> <span>Clientes</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li><a href="clientes">Ver Clientes</a></li>
          <li><a href="agregarCliente">Nuevo Cliente</a></li>
        </ul>
      </li>
      <li class="treeview">
        <a href="#"
          ><i class="fa fa-truck"></i> <span>Cargas</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li><a href="fletes">Ver Cargas</a></li>
          <li><a href="agregarFlete">Nueva Carga</a></li>
        </ul>
      </li>
      <li class="treeview">
        <a href="#"
          ><i class="fa fa-cubes"></i> <span>Proveedores</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li><a href="proveedores">Ver Proveedores</a></li>
          <li><a href="agregarProveedor">Nuevo Proveedor</a></li>
        </ul>
      </li>
      <li class="treeview">
        <a href="#"
          ><i class="fa fa-road"></i> <span>Rutas</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li><a href="rutas">Ver Rutas</a></li>
          <li><a href="agregarRuta">Nueva Ruta</a></li>
        </ul>
      </li>
      <li class="treeview">
        <a href="#"
          ><i class="fa fa-list-alt"></i> <span>Ordenes de Compra</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li><a href="#">Ver Ordenes</a></li>
          <li><a href="#">Nueva Orden</a></li>
        </ul>
      </li>
      <li class="treeview">
        <a href="#"
          ><i class="fa fa-usd"></i> <span>Administración</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li><a href="#">Cuentas por Cobrar</a></li>
          <li><a href="#">Cuentas por Pagar</a></li>
        </ul>
      </li>
    </ul>
    <!-- /.sidebar-menu -->
  </section>
  <!-- /.sidebar -->
</aside>
